.va-acc-widget__header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--lumo-space-s);
}

.va-acc-widget__title {
    flex: 1;
    min-width: 0;
}

.va-acc-widget__spacer {
    flex: 1;
    min-width: 0;
}

@media (max-width: 600px) {
    .va-acc-widget__header {
        flex-direction: column;
        align-items: stretch;
    }

    .va-acc-widget__header .va-acc-widget__header-button {
        width: 100%;
    }
}