@import "tailwindcss";

@layer base {
    html,
    body,
    #root {
        height: 100%;
    }

    body {
        @apply bg-slate-950 text-slate-100 antialiased;
    }
}

@layer components {
    .input {
        @apply w-full rounded-xl border border-slate-800 bg-slate-950 px-3 py-2
        text-slate-100 placeholder-slate-500
        focus:outline-none focus:ring-2 focus:ring-indigo-600/60;
    }
}